.bg-c-red {
	background-color: #d44e4e;
}

.white {
	background-color: white;
}

.light-blue {
	height: 100px;
	background-color: lightblue;
}

.blue {
	height: 600px;
	background-color: blue;
}

.yellow {
	height: 600px;
	background-color: yellow;
}

.green {
	min-height: 100px;
	background-color: green;
}

@media (max-width: 575.98px) {
	.blue {
		height: 150px;
		background-color: blue;
	}

	.yellow {
		height: 400px;
		background-color: yellow;
	}
}
